body {
  background-color: rgb(221, 222, 224);
  height: 100vh;
  margin: 0;
}

#root {
  height: inherit;
  position: relative;
}

/*////////////////////Initial Game Page////////////////////*/
.init-container {
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Bebas Neue', cursive;
}

.init-container h1 {
  font-family: inherit;
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 90px;
  user-select: none;
}

.init-container button {
  font-family: inherit;
  font-size: 25px;
  border: none;
  background-color: rgb(44, 44, 44);
  height: 3rem;
  width: 8rem;
  color: white;
  cursor: pointer;
}

.init-container button:hover {
  background-color: rgb(65, 64, 64);
}

/*/ ///////////////////Preparing Game Page////////////////////*/
.prep-container .logo {
  font-family: 'Bebas Neue', cursive;
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: 20px;
  font-size: 40px;
  padding-top: 20px;
  user-select: none;
}

.prep-header-message {
  font-family: 'Bebas Neue', cursive;
  background-color: rgb(44, 44, 44);
  height: 60px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prep-header-message p {
  font-size: 35px;
}

.prep-board-and-ships {
  margin: auto;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  min-width: 1000px;
}

.prep-ships-container {
  font-family: 'Bebas Neue', cursive;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.prep-ships-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
}
.prep-ships-buttons button {
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 2.5rem;
  width: 6.5rem;
  font-family: inherit;
  font-size: 20px;
  border: 2px solid black;
}

.prep-ships-buttons button:hover {
  background-color: rgb(212, 209, 209);
}

.prep-ships-buttons button:first-of-type {
  margin-top: -10px;
}

.prep-ships-buttons button:last-of-type {
  margin-bottom: 30px;
}

.prep-ships-buttons .selected {
  background-color: rgb(126, 126, 126) !important;
}

.prep-start-container button {
  font-family: inherit;
  font-size: 25px;
  border: none;
  background-color: rgb(44, 44, 44);
  height: 3rem;
  width: 8rem;
  color: white;
  cursor: pointer;
}

.prep-start-container button:hover :enabled {
  background-color: rgb(65, 64, 64);
}

.prep-start-container button:disabled {
  opacity: 0.5;
  cursor: auto;
}

.prep-board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.prep-board {
  min-width: 220px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.board-square {
  border: 1px solid black;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

footer {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(44, 44, 44);
  color: white;
  width: 100%;
  position: absolute;
  bottom: 0;
}

footer p a {
  color: white;
  text-decoration: none;
}

footer p a:hover {
  text-decoration: underline;
}
