body {
  background-color: rgb(221, 222, 224);
  height: 100vh;
  margin: 0;
  position: relative;
}

#root {
  height: inherit;
  position: relative;
}

/*////////////////////Initial Game Page////////////////////*/
.init-container {
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Bebas Neue', cursive;
}

.init-container h1 {
  font-family: inherit;
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 90px;
  user-select: none;
}

.init-container button {
  font-family: inherit;
  font-size: 25px;
  border: none;
  background-color: rgb(44, 44, 44);
  height: 3rem;
  width: 8rem;
  color: white;
  cursor: pointer;
}

.init-container button:hover {
  background-color: rgb(65, 64, 64);
}

/*/ ///////////////////Preparing Game Page////////////////////*/
.prep-board-and-ships {
  margin: auto;
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.prep-ships-container {
  font-family: 'Bebas Neue', cursive;
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.prep-ships-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
}
.prep-ships-buttons button {
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 2.5rem;
  width: 6.5rem;
  font-family: inherit;
  font-size: 20px;
  border: 2px solid black;
}

.prep-ships-buttons button:hover {
  background-color: rgb(212, 209, 209);
}

.prep-ships-buttons button:first-of-type {
  margin-top: -10px;
}

.prep-ships-buttons button:last-of-type {
  margin-bottom: 30px;
}

.prep-ships-buttons .selected {
  background-color: rgb(126, 126, 126) !important;
}

.prep-start-container button {
  font-family: inherit;
  font-size: 25px;
  border: none;
  background-color: rgb(44, 44, 44);
  height: 3rem;
  width: 8rem;
  color: white;
  cursor: pointer;
}

.prep-start-container button:hover:enabled {
  background-color: rgb(65, 64, 64);
}

.prep-start-container button:disabled {
  opacity: 0.5;
  cursor: auto;
}

.prep-board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
}

.prep-board {
  min-width: 220px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.prep-ships-axis button {
  font-family: 'Bebas Neue', cursive;
  font-weight: bold;
  font-size: 20px;
  background-color: rgb(44, 44, 44);
  color: white;
  height: 3rem;
  width: 8rem;
  border: none;
  cursor: pointer;
}

.prep-ships-axis button:hover {
  background-color: rgb(65, 64, 64);
}

.prep-ships-axis button:disabled {
  opacity: 0.5;
  pointer-events: none;
}

/*/ ///////////////////Square////////////////////*/

.board-square {
  border: 1px solid black;
  width: 35px;
  height: 35px;
  cursor: pointer;
  box-sizing: border-box;
}

.board-square.AI {
  cursor: crosshair;
}

.board-square.player {
  pointer-events: none;
  user-select: none;
}

/*/ ///////////////////Main Game Page////////////////////*/

.main-board-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.main-board {
  min-width: 220px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.main-board-container header {
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: 'Bebas Neue', cursive;
  font-size: 25px;
  font-weight: bold;
}

/*/ ///////////////////Header Game Page////////////////////*/
.logo {
  font-family: 'Bebas Neue', cursive;
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: 20px;
  font-size: 40px;
  padding-top: 20px;
  user-select: none;
}

.header-message {
  font-family: 'Bebas Neue', cursive;
  background-color: rgb(44, 44, 44);
  height: 60px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-message p {
  font-size: 35px;
}

/*/ ///////////////////Footer////////////////////*/
footer {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(44, 44, 44);
  color: white;
  width: 100%;
  position: absolute;
  bottom: 0;
}

footer p a {
  color: white;
  text-decoration: none;
}

footer p a:hover {
  text-decoration: underline;
}

/*/ ///////////////////winner modal////////////////////*/
.modal {
  position: absolute;
  z-index: 2;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.452);
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation-name: animate;
  -webkit-animation-duration: 0.6s;
  animation-name: animate;
  animation-duration: 0.6s;
}

.modal-inner {
  font-family: 'Bebas Neue', cursive;
  height: 150px;
  width: 300px;
  background-color: rgba(12, 12, 12, 0.932);
  border: 2px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.541);
}

.modal-inner h1 {
  font-family: inherit;
  color: white;
  font-weight: bold;
}

.modal-inner button {
  font-family: inherit;
  font-size: 25px;
  border: 1.5px solid white;
  background-color: rgb(44, 44, 44);
  height: 3rem;
  width: 8rem;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
}

.modal-inner button:hover {
  background-color: rgb(65, 64, 64);
}

/*//////// animations ///////////*/
@-webkit-keyframes animate {
  from {
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*//////// media queries ///////////*/
@media (max-width: 750px) {
  footer {
    display: none;
  }
  header {
    display: none;
  }
  .prep-board-and-ships {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }
  .prep-board-container {
    width: 100%;
  }
  .prep-ships-axis {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .prep-start-container {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .prep-ships-buttons {
    display: grid;
    gap: 2.5px;
    grid-auto-flow: column dense;
  }
  .prep-ships-buttons button {
    margin: 0 !important;
  }
  .main-board-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-AI-container {
    margin-bottom: 15px !important;
    margin-top: 10px !important;
  }
  .main-player-container {
    margin-top: 15px !important;
    margin-bottom: 10px !important;
  }
  .main-board.human {
    min-width: 200px;
  }
  .board-square {
    width: 32px;
    height: 32px;
  }
  .board-square.player {
    width: 20px;
    height: 20px;
  }
  .board-square.AI {
    width: 32px;
    height: 32px;
  }
}

@media (max-width: 550px) {
  .prep-ships-buttons {
    display: grid;
    gap: 2.5px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@media (max-width: 400px) {
}

/*//////// misc ///////////*/
.hovered {
  background-color: rgb(177, 175, 175) !important;
}
.not-allowed {
  background-color: rgb(252, 155, 155) !important;
}
