body {
  background-color: rgb(226, 231, 241);
  height: 100vh;
  margin: 0;
}

#root {
  height: inherit;
}

/*////////////////////Initial Game Page////////////////////*/
.init-container {
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.init-container h1 {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 60px;
}






/*/ ///////////////////Preparing Game Page////////////////////*/
.prep-board-and-ships {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.prep-ships-container {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.prep-board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.prep-board {
  min-width: 220px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.board-square {
  border: 1px solid black;
  width: 35px;
  height: 35px;
}
